<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kedvencek</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/favorite_style.css}">
</head>

<body>
    <form action="/go_to" method="post">
        <input type="hidden" name="oldal" value="usermain">
        <button type="submit">Vissza a menüre</button>
    </form>
    <div class="container mt-4">
        <h1 class="mb-4">Kedvenceim</h1>

        <div class="row">

            <div th:each="favorite : ${favorites}" class="col-md-4 mb-4">
                <div class="card">
                    <h5 class="card-title">
                        <img th:src="@{'/images/autok/' + ${favorite.car.rendszam} + '/1.png'}" alt="" />
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${favorite.car.marka}"></h5>
                        <p class="card-text" th:text="${favorite.car.tipus}"></p>
                        <form action="/details" method="post">
                            <input type="hidden" th:value="${favorite.car.AutoID}" name="AutoID">
                            <button type="submit">Részletek</button>
                        </form>
                        <form action="/deleteFavorite" method="post">
                            <input type="hidden" th:value="${favorite.KedvencID}" name="KedvencID">
                            <button type="submit" class="btn btn-danger">Töröl</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>