<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/reservations_style.css}">
    <title>Foglalások</title>
  </head>

  <body>
    <form action="/go_to" method="post">
      <input type="hidden" name="oldal" value="admin">
      <button type="submit">Vissza a fő oldalra</button>
  </form>
    <h2>Foglalások áttekintése</h2>

    <table border="1">
      <tr>
        <th>Foglalás Kezdete</th>
        <th>Foglalás Vége</th>
        <th>Felhasználó neve</th>
        <th>Jármű</th>
        <th>Rendszám</th>
        <th>Állapot</th>
        <th>-</th>
      </tr>

      <tr th:each="reservation : ${reservation}">
        <td th:text="${reservation.kezdet}"></td>
        <td th:text="${reservation.veg}"></td>
        <td>
          <span th:if="${reservation != null and reservation.user != null}">
              <span th:text="${reservation.user.vezeteknev + ' ' + reservation.user.keresztnev}"></span>
          </span>
      </td>

        <td th:text="${reservation.car.marka + ' ' + reservation.car.tipus}"></td>
        <td th:text="${reservation.car.rendszam}"></td>
        <td th:text="${reservation.allapot == 0 ? 'folyamatban' : (reservation.allapot == 1 ? 'lezárt' : 'unknown')}"></td>
        <td>
        <form action="/close" method="post">
            <input type="hidden" th:value="${reservation.car.AutoID}" name="AutoID">
            <input type="hidden" th:value="${reservation.FoglalasID}" name="FoglalasID">
            <button type="submit" th:if="${reservation.allapot != 1}">Lezárás</button>
            <button type="button" th:if="${reservation.allapot == 1}" disabled>Lezárás</button>
        </form>
        </td>
    </tr>
    
    </table>

  </body>
</html>
