body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;

}


h1 {

    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}


.transaction-container {
    width: 100%; 
    max-width: 600px; 
    text-align: center; 
}

.transaction {
    font-size: 16px;
    line-height: 1.8;
    display: block;
    padding: 5px;
    margin: 5px auto; 
    border-radius: 5px;
    width: 80%; 
}

.transaction.withdrawal {
    color: red;
    background-color: #ffe6e6;
}

.transaction.deposit {
    color: green;
    background-color: #e6ffe6;
}

.transaction:hover {
    background-color: #f1f1f1;
    cursor: default;
}


a {

    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
