
.car-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  
  header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  }
  
  nav {
  width: 20%;
  height: 100vh;
  background-color: #f4f4f4;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  }
  
  main {
  width: 80%;
  float: left;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  margin-left: 20%; 
  }
  .nb {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap; 
    border-color: #000000;
}

.nb:hover {
    background-color: #0056b3;
    color: #fff;
}
  header {
  background-color: inherit;
  color: #3d3d3d;
  padding: 0px;
  text-align: center;
  }
  
  section{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .stat {
  flex-basis: 25%;
  padding: 0px;
  }
  
  .car {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 6%;
  margin: 10px;
  padding: 10px;
  padding-top: 2px;
  display: flex;
  flex-direction: column; 
  }
  
  ul {
  margin: 5px 10px 0 30px;
  padding: 5px;
  }
  
  .car img {
  max-width: 100%;
  border-radius: 7%;
  }
  
  .delete, .alert{
  cursor: pointer;
  background-color: inherit;
  border: 0;
  }
  
  .delete img, .alert img {
    width: 20px;
    height: 20px;
  }
  
  .alert img {
    float: right;
  }
  
  .menu-button, .logout-button {
  background-color: #c9c9c9;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7%;
  }
  
  .menu-button:hover, .logout-button:hover {
  background-color: #777;
  }
  
  a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #ddd;
  border-radius: 5px;
  }
  
  a:hover {
  background-color: #555;
  color: white;
  }
  
  h3 {
    margin-left: 10px;
  }
  
  p {
    font-size: 25px;
    margin: 0 0 10px 0;
  }
  img{
    width: 80%;
    height: 80%;
    
  }
  @media (max-width: 768px) {
    nav {
      width: 100%;
      height: auto;
      float: none;
      padding: 20px;
      box-sizing: border-box;
      position: static;
    }
  
    main {
      width: 100%;
      float: none;
      padding: 0 20px 20px 20px;
      box-sizing: border-box;
      margin-left: 0;
    }
  
    .stats {
      flex-direction: column;
    }
  
    .stat {
      flex-basis: 100%;
      margin-bottom: 10px;
    }
  
    section {
      justify-content: center;
    }
  
    .car {
      width: 100%;
    }
  }