

body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.mt-5 {
    margin-top: 3rem !important;
}


@media (max-width: 576px) {
    .card {
        margin-top: 20px;
    }
}


input[type="file"] {
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

#kivitel, #fuel_type, #valto_tipus {
    width: 100%; 
}
