{% extends 'base.html' %}
{% block title %}Accounts{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">


<h1>Accounts</h1>
<a href="{% url 'account_create' %}">Create New Account</a>
<table>
    <tr>
        <th>Client</th>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Actions</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>{{ account.user }}</td>
        <td>{{ account.account_number }}</td>
        <td>{{ account.balance }}</td>
        <td>
            <a href="{% url 'account_detail' account.pk %}">View</a>
            <a href="{% url 'account_edit' account.account_number %}">Edit</a>
            <a href="{% url 'account_delete' account.account_number %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
