ul.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul.pagination li {
    margin: 0 5px;
}

ul.pagination li a,
ul.pagination li span {
    display: block;
    padding: 10px 15px;
    color: #fff;
    background-color: #343a40;
    border: 1px solid #343a40;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

ul.pagination li.active span {
    background-color: #1d2124;
    border: 1px solid #1d2124;
}

ul.pagination li a:hover,


ul.pagination li.prev-next {
    margin-right: 0;
}

ul.pagination li.prev-next a,
ul.pagination li.prev-next span {
    padding: 10px;
    background-color: #1d2124;
    border: 1px solid #1d2124;
}

ul.pagination li a,
ul.pagination li span,
#legutobbbtn {
    cursor: pointer;
    display: inline-block;
}

ul.pagination li a,
ul.pagination li span,
#legutobbbtn {
    font-weight: bold;
}
