<!-- templates/account_list.html -->
{% extends 'base.html' %}
{% block title %}Accounts{% endblock %}
{% block content %}

{% load static %}      
<link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

<h1>Accounts</h1>

<table>
    <tr>
        <th>Számlaszám</th>
        <th>Egyenleg</th>
        <th>Művelet</th>
    </tr>
    {% for account in accounts %}
    <tr>
        
        <td>{{ account.account_number }}</td>
        <td>{{ account.balance }}</td>
        <td>
        
            <a href="{% url 'deposit' %}">Befizetés számlára</a>
            <a href="{% url 'withdraw' %}">Pénz kivétele számláról</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
