<!-- templates/account_list.html -->
{% extends 'base.html' %}
{% block title %}Accounts{% endblock %}
{% block content %}
<h1>Accounts</h1>
<a href="{% url 'account_create' %}">Create New Account</a>
<table>
    <tr>
        <th>Account Number</th>
        <th>Balance</th>
        {% if user.is_staff %}
        <th>Actions</th>
        {%endif%}
        <th>Methods</th>
    </tr>
    {% for account in accounts %}
    <tr>
        
        <td>{{ account.account_number }}</td>
        <td>{{ account.balance }}</td>
        {% if user.is_staff %}
        <td>
            <a href="{% url 'account_detail' account.pk %}">View</a>
            <a href="{% url 'account_edit' account.pk %}">Edit</a>
            <a href="{% url 'account_delete' account.pk %}">Delete</a>
        </td>
        {%endif%}
        <td>
        
            <a href="{% url 'account_list' %}">Deposit</a>
            <a href="{% url 'withdraw' %}">Withdraw</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
