{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}      
<link rel="stylesheet" type="text/css" href="{% static 'css/user_home.css' %}">

<p><a href="{% url 'transfer' %}">Átutalás</a></p>

<div class="container">
    <h1>Eddigi tranzakcióid</h1>
    
    <table>

        <tbody>
            {% for transaction in transactions %}
            <tr class="{% if transaction.method == 'Withdrawal' %}withdrawal{% elif transaction.method == 'Deposit' %}deposit{% endif %}">
                <td>{{ transaction.method }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date|date:"Y-m-d H:i" }}</td>
                <td>{{ transaction.transferedAccount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
