<!DOCTYPE html>
<html lang="hu">

<head>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Autókölcsönző Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <nav>
        <form action="/go_to" method="post">
            <input type="hidden" name="oldal" value="logout">
            <button type="submit" class="nb">Kijelentkezés</button>
        </form>
        <form action="/go_to" method="post">
            <input type="hidden" name="oldal" value="users">
            <button type="submit" class="nb">Ügyfelek áttekintése</button>
        </form>
        <form action="/go_to" method="post">
            <input type="hidden" name="oldal" value="user">
            <button type="submit" class="nb">Adataim módosíttása</button>
        </form>
        <form action="/go_to" method="post">
            <input type="hidden" name="oldal" value="new_car">
            <button type="submit" class="nb">Új autó felvétele</button>
        </form>
        <form action="/go_to" method="post">
            <input type="hidden" name="oldal" value="new_admin">
            <button type="submit" class="nb">Új admin felvétele</button>
        </form>
        <form action="/go_to" method="post">
            <input type="hidden" name="oldal" value="all_reservations">
            <button type="submit" class="nb">Foglalások megtekintése</button>
        </form>
    </nav>
    <main>
        <header>
            <div class="stats">
                <div class="stat">
                    <h2>Összes autó</h2>
                    <p th:text="${allCarsCount}">50</p>
                </div>
                <div class="stat">
                    <h2>Elérhető</h2>
                    <p th:text="${availableCarsCount}">30</p>
                </div>
                <div class="stat">
                    <h2>Foglalt</h2>
                    <p th:text="${reservedCarsCount}">15</p>
                </div>
                <div class="stat">
                    <h2>Javításra szoruló</h2>
                    <p th:text="${damagedCarsCount}">5</p>
                </div>
            </div>
            <hr>
        </header>

        <div class="row" id="slide">

            <div class="col-sm-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>





                    <div class="carousel-inner" id="kep">
                        <div class="carousel-item active">
                            <div class="row" id="kepfelso">
                                <div th:each="car, iterStat : ${pagedCars.content}" class="col-sm-4">
                                    <div class="card bg-secondary text-center">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <img th:src="@{'/images/autok/' + ${car.rendszam} + '/1.png'}" alt="" />
                                            </h5>
                                            <div th:text="${car.marka}"></div>
                                            <div th:text="${car.tipus}"></div>
                                            <div th:text="${car.cost}"></div>
                                            <form action="/details" method="post">
                                                <input type="hidden" th:value="${car.AutoID}" name="AutoID">
                                                <button type="submit">Részletek</button>
                                            </form>
                                            <form action="/deleteCar" method="post">
                                                <input type="hidden" th:value="${car.AutoID}" name="carId">
                                                <button type="submit">Töröl</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div th:if="${pagedCars.totalPages > 1}">
                        <ul class="pagination">
                            <li th:if="${pagedCars.hasPrevious()}" class="page-item">
                                <a th:href="@{'?page=' + ${pagedCars.number - 1}}" class="page-link">&laquo;
                                    Previous</a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(0, pagedCars.totalPages - 1)}" class="page-item"
                                th:classappend="${page == pagedCars.number} ? 'active'">
                                <a th:href="@{'?page=' + ${page}}" class="page-link" th:text="${page + 1}">1</a>
                            </li>
                            <li th:if="${pagedCars.hasNext()}" class="page-item">
                                <a th:href="@{'?page=' + ${pagedCars.number + 1}}" class="page-link">Next
                                    &raquo;</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        </section>
    </main>
</body>

</html>