<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/my_Reservation.css}">
  <title>Foglalásaim</title>
</head>

<body>
  <h2>Foglalásaim</h2>
  <form action="/go_to" method="post">
    <input type="hidden" name="oldal" value="usermain">
    <button type="submit">Vissza a menüre</button>
  </form>
  <table border="1">
    <tr>
      <th>Foglalás Kezdete</th>
      <th>Foglalás vége</th>
      <th>Kiválasztott jármű</th>
      <th>Napi költség</th>
    </tr>

    <tr th:each="reservation : ${reservations}">
      <td th:text="${reservation.kezdet}"></td>
      <td th:text="${reservation.veg}"></td>
      <td th:text="${reservation.car.marka + ' ' + reservation.car.tipus}"></td>
      <td th:text="${reservation.Osszeg}"></td>
    </tr>
  </table>


</body>

</html>