<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/new_Car.css}">
    <title>Regisztráció</title>
</head>

<body>

    <form action="/go_to" method="post">
        <input type="hidden" name="oldal" value="admin">
        <button type="submit">Vissza a menüre</button>
    </form>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Új autó felvétele</h3>
                    </div>
                    <div class="card-body">
                        <form id="registration-form" action="/register_car" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="marka">Márka:</label>
                                <input type="text" class="form-control" id="marka" name="marka" required>
                            </div>
                            <div class="form-group">
                                <label for="tipus">Típus:</label>
                                <input type="text" class="form-control" id="tipus" name="tipus" required>
                            </div>
                            <div class="form-group">
                                <label for="rendszam">Rendszám:</label>
                                <input type="text" class="form-control" id="rendszam" name="rendszam" required>
                            </div>
                            <div class="form-group">
                                <label for="cost">Napi költség:</label>
                                <input type="text" class="form-control" id="cost" name="cost" required>
                            </div>
                            <div class="form-group">
                                <label for="loero">Lóerő:</label>
                                <input type="text" class="form-control" id="loero" name="loero" required>
                            </div>
                            <div class="form-group">
                                <label for="ulesek_szama">Ülések száma:</label>
                                <input type="text" class="form-control" id="ulesek_szama" name="ulesek_szama" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="ajtok_szama">Ajtók száma:</label>
                                <input type="text" class="form-control" id="ajtok_szama" name="ajtok_szama" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="evjarat">Évjárat:</label>
                                <input type="text" class="form-control" id="evjarat" name="evjarat" required>
                            </div>
                            <label for="img1">Borító kép feltöltése</label>
                            <input type="file" id="img1" name="img1" accept="image/*">
                        
                            <label for="img2">További kép #2</label>
                            <input type="file" id="img2" name="img2" accept="image/*">
                        
                            <label for="img3">További kép #3</label>
                            <input type="file" id="img3" name="img3" accept="image/*">
                       

                            <div class="form-group">
                                <label for="kivitel">Kivitel:</label>
                                <select id="kivitel" name="kivitel">
                                    <option value="1">Szedán</option>
                                    <option value="2">Kupé</option>
                                    <option value="3">Kabrió</option>
                                    <option value="4">Kombi</option>
                                    <option value="5">Terepjáró</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="fuel_type">Üzemanyag típus:</label>
                                <select id="fuel_type" name="fuel_type">
                                    <option value="1">Benzin</option>
                                    <option value="2">Dízel</option>
                                    <option value="3">Hibrid</option>
                                    <option value="4">Elektromos</option>
                                </select>
                            </div>
                            

                            <div class="form-group">
                                <label for="valto_tipus">Váltó típus:</label>
                                <select id="valto_tipus" name="ValtoTipus">
                                    <option value="1" selected>Manuális</option>
                                    <option value="2">Automata</option>
                                </select>
                            </div>
                            
                            

                            <button type="submit" class="btn btn-primary">Új autó felvétele</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>