<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendelés véglegesítése</title>
    <link rel="stylesheet" th:href="@{/css/reservation.css}">
</head>
<body>
    <header>
        <h1>Rendelés véglegesítése</h1>
        <img src="labz.png" alt="">
    </header>
    <main>
        <form action="/details" method="post">
            <input type="hidden" th:value="${car.AutoID}" name="AutoID">
            <button type="submit">Vissza</button>
        </form>

        
        </div>
        <hr>
        <div class="tire-options">
            <div class="tire-option">
                <input type="radio" id="winterTire" name="tireType" value="winter">
                <label for="winterTire">Téli Gumi</label>
            </div>
            <div class="tire-option">
                <input type="radio" id="summerTire" name="tireType" value="summer">
                <label for="summerTire">Nyári Gumi</label>
            </div>
        </div>
        <hr>
        <section class="extras">
            <div class="extras-container">
                <div>
                    <img src="/images/wifi.jpg" alt="wifi hotspot">
                    <h1 class="title">Wifi hotspot</h1>
                    <p>Az autó felszereltségében található mobil WiFi hotspot lehetőséget biztosít az utasoknak, hogy vezeték nélkül kapcsolódjanak az internethez. Ez kényelmes internetes böngészést, streaminget vagy munkavégzést tesz lehetővé az autóban.</p>
                    <p class="price">14500 Ft</p>
                </div>
                <div>
                    <button class="button" onclick="toggleButton(this)">Hozzáadás</button>
                </div>
            </div>
            <div class="extras-container">
                <div>    
                    <img src="/images/gps.jpg" alt="">
                    <h1 class="title">Navigációs rendszer</h1>
                    <p>A navigációs rendszer egy modern technológia, amely segít tervezni az utazás útvonalát. Térképek, valós idejű forgalmi információk és részletes utasítások segítségével könnyedén eljuthatsz a kívánt célpontokhoz, minimalizálva az eltévedés lehetőségét.</p>
                    <p class="price">14500 Ft</p>
                </div>
                <div>
                    <button class="button" onclick="toggleButton(this)">Hozzáadás</button>
                </div>
            </div>
            <div class="extras-container">
                <div>
                    <img src="/images/ski.jpg" alt="">
                    <h1 class="title">Sieléshez felszerelt autó</h1>
                    <p>Ez a jármű kifejezetten téli körülményekre van tervezve. Speciális hófogókkal, hóvezérléssel és opcionálisan sí- vagy snowboardtartóval rendelkezik, hogy zavartalan legyen az utazás havas, jeges területeken.</p>
                    <p class="price">25000 Ft</p>
                </div>
                <div>
                    <button class="button" onclick="toggleButton(this)">Hozzáadás</button>
                </div>
            </div>
            <div class="extras-container">
                <div>
                    <img src="/images/snowchain.jpg" alt="">
                    <h1 class="title">Hólánccal felszerelt autó</h1>
                    <p>Ez az autó hólánccal felszerelt, hogy javítsa a tapadást havas vagy jeges utakon. A hóláncok növelik az autó mozgékonyságát a nehezen járható területeken, különösen fontos téli körülmények között.</p>
                    <p class="price">17000 Ft</p>
                </div>
                <div>
                    <button class="button" onclick="toggleButton(this)">Hozzáadás</button>
                </div>
            </div>    
        </section>
        <hr>
        <section class="summary">
            <div>
                <span>Alap ár / nap:</span>
                <span id="basePrice" th:text="${car.cost}"> </span>
            </div>    
        </section>
 
    </main>


    <form id="registration-form" action="/register_reservation" method="post">  
        <div class="filter-container">
            <input type="hidden" id="UserID" name="UserID" th:value="${user.id}">
            <input type="hidden" id="AutoID" name="AutoID" th:value="${car.AutoID}">
            <label for="startDate">Kezdő dátum:</label>
            <input type="date" id="kezdet" name="kezdet" class="form-control">
            <label for="endDate">Befejező dátum:</label>
            <input type="date" id="veg" name="veg" class="form-control">
            
   
            <input type="hidden" id="Osszeg" name="Osszeg" th:value="${car.cost}">
            
            <span>Teljes összeg:</span>
            <span id="costDisplay" th:text="${car.cost}"></span>
            
            <button type="submit" class="btn btn-primary">Foglalás elküldése</button>
        </div>    
    </form>
    <script>
        function toggleButton(button) {
            var container = button.closest('.extras-container');
    
            var priceElement = container.querySelector('.price');
    
            var price = parseFloat(priceElement.innerText.replace(' Ft', ''));

            var totalCostElement = document.getElementById('costDisplay');
            var currentTotal = parseFloat(totalCostElement.innerText.replace(' Ft', ''));
            var isClicked = button.classList.contains('clicked');
    

            if (isClicked) {
                button.classList.remove('clicked');
                button.style.backgroundColor = 'red';
                totalCostElement.innerText = (currentTotal - price) + ' Ft';
            } else {
                button.classList.add('clicked');
                button.style.backgroundColor = 'green';
                totalCostElement.innerText = (currentTotal + price) + ' Ft';
            }
    
            
            document.getElementById('Osszeg').value = totalCostElement.innerText;
        }
    </script>
    


</body>
</html>
