    header, footer, aside, nav, form, iframe, .menu,.navbar {
        display: none;
    }


  img, svg {
    display: none !important;
  }
  
  img.print, svg.print {
    display: block;
    max-width: 100%;
  }